.main
    @include adaptiv-value('padding-top', 50, 30, 1)
    @include adaptiv-value('padding-bottom', 40, 30, 1)
    display: flex
    position: relative
    
    &__container
        flex: 1 1 auto
        text-align: center
        display: flex
        width: 100% //for ie
        flex-direction: column 
    &__label
        align-self: center
        color: #b69b67
        font-family: Playfair Display SC
        @include adaptiv-value('font-size', 60, 38, 1)
        font-weight: 400
        text-align: center
        text-transform: uppercase
        &::before
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: #b69b67
        span
            display: block
            color: #b4b4b4
            @include adaptiv-value('font-size', 30, 20, 1)
            font-weight: 300
            text-align: right
            text-transform: uppercase
        &:not(:last-child)
            @include adaptiv-value('margin-bottom', 60, 20, 1)
    &__image
        &:not(:last-child)
            @include adaptiv-value('margin-bottom', 40, 25, 1)
        img
            opacity: 0.9
            @include adaptiv-value('height', 350, 250, 1)
            max-width: 100%
            
            animation: lamps 0.2s ease 5 alternate 0.4s
            filter: drop-shadow(0px 0px 5px rgba(182, 154, 103, 0.2))
    &__title
        @include adaptiv-value('font-size', 50, 22, 1)
        text-align: center
        font-weight: 300
        text-transform: uppercase
        background-image: linear-gradient(90deg, #636363, #d7b37b, #636363)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

        // animation: lamps 0.4s ease 5 alternate 0.4s
        // flex: 1 1 auto
        &:not(:last-child)
            @include adaptiv-value('margin-bottom', 80, 20, 1) 
    &__bottom
        display: flex
        flex-direction: column
        align-items: center
    &__down
        align-self: center
        color: #454545
        @include adaptiv-value('font-size', 20, 17, 1)
        font-weight: 400
        text-align: center
        text-transform: uppercase
        transition: all 0.3s ease 0s
        @media (any-hover: hover )
            &:hover
                color: #7c6949
    &__arrow
        position: relative
        align-self: center
        color: #454545
        @include adaptiv-value('font-size', 40, 30, 1)
        transition: all 0.3s ease 0s

        animation-name: arrowKick
        animation-duration: 0.8s
        animation-timing-function: linear
        animation-iteration-count: 10
        animation-direction: alternate
        animation-delay: 1s
        @media (any-hover: hover )
            &:hover
                color: #d7b37b
                animation-play-state: paused




     
@keyframes arrowKick
    0%
        top: 0px
    100%
        top: 15px

@keyframes lamps
    0%
        opacity: 0.9
        filter: brightness(80%)
    50%
        opacity: 0.6
        filter: brightness(80%)
    75%
        opacity: 0.4
        filter: brightness(70%)
    100%
        opacity: 1
        filter: brightness(100%)
 